# Ignore KML files in SHC data
shc_data/KML_files/

# Ignore Python virtual environments
venv/
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore plots (too many files in each commit)
plots/
